*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: #fff;
}
.index_page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.index_page_container{
    margin-top: 10%;
}
.index_page_image img{
    width: 100%;
    height: 100%;
    border: 1px solid orange;
    box-shadow: 3px 6px 6px orange;
}
.index_page_contents h1{
    font-weight: bold;
    font-size: 2.5vw;
    color: orange;
    text-shadow: 3px 3px black;
}
.index_page_contents p{
    margin: unset;
}
.index_page_button a{
    background: orange;
    border-radius: 32px;
    padding: 6px 48px;
    color: black;
    text-decoration: none;
}
.index_page_contents a:hover{
    color: white;
    opacity: .8;
}
.index_page_header{
    text-transform: uppercase;
}
.index_page_header ul{
    list-style: none;
}
.index_page_header ul li a:hover{
    color: black;
    text-decoration: none;
    border-radius: 32px;
    padding: 4px 8px;
    background: greenyellow;
}
.app_name h1{
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px white;
    padding: 4px;
    margin: auto;
}

.account_page .card{
    background: black;
    border: 1px solid greenyellow;
}
.account_page .card-header,
.account_page .card-body,
.account_page .card-body input,
.account_btn,
.account_page p a{
    color: greenyellow;
}
.account_page .card-header{
    background: black;
    border-bottom: 1px solid greenyellow;
}
.account_page .card-body input{
    background: transparent;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid yellowgreen;
}
.account_btn{
    background: transparent;
    border: 1px solid;
    width: 100%;
    padding: 6px;
}

header{
    background: black;
    color: white;
}
header p{
    margin: unset;
    line-height: 6vh;
}
header a{
    line-height: 6vh;
}
header a{
    color: #fff;
    text-decoration: none;
}
header .app_name{
    font-weight: 700;
}
header .app_features{
    display: flex;
    justify-content: space-evenly;
}
header .profile_details{
    display: flex;
    justify-content: end;
}
.dropbtn {
    background-color: aqua;
    color: black;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: aqua;
}
.dropdown-content button{
    border: none;
    outline: none;
    background: inherit;
}

.dashboard_container{
    display: flex;
    justify-content: center;
}
.dashboard_content{
    border: 1px solid greenyellow;
    box-shadow: 2px 2px 4px greenyellow;
    margin: 8px;
    padding: 4px 16px;
    width: 30%;
}
.dashboard_content h1{
    font-size: 1.8vw;
    border-bottom: 1px dotted greenyellow;
    padding-bottom: 4px;
}
.dashboard_content p{
    margin: unset;
}

.profile .col{
    margin: 0 4px;
}

.action_buttons_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.action_buttons button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 3px;
}
.action_buttons button span{
    margin-right: 1px;
    font-size: inherit;
}


.receipt_wrapper{
    border: 1px solid black;
    border-radius: 32px;
    padding: 8px;
    box-shadow: 2px 3px 4px black;
}
.receipt_header h5{
    font-family: chiller;
    font-size: 40px;
}
.total_price{
    border-bottom: 1px solid black;
}
.receipt_footer p{
    font-style: italic;
}